:root {
  --padding: 25px;
  --padding-mobile: 20px;
  --padding-big: 50px;
  --padding-big-mobile: 30px;
  --color-accent: #f4796b;
  --color-text: #5e6472;
  --color-white: white;
  --base-font-size: 16px;
}
